*{
    font-family: Arial, Helvetica, sans-serif;


}


header{
    background-color: rgb(2, 2, 110);
    color: white;
    text-align: center;
    padding: 5px;
    font-size: medium;
    border: 3px;

.profile-image{
    width: 200px;
    height: 200px;
    border: 3px black solid;
    border-radius: 50%;


}
}